<html>
<head>
<body>
	<div>
	<p> transaction sucessful </p>
	</div>
	<div class="container" id="transactionsucessful">

		
		<div class="row">
			
			<!-- Article main content -->
			<article class="col-md-12 maincontent">
	
				<div id="sliderFrame" style="background-color: gray">
			        <div id="slider">
					<img src="{{STATIC}}images/index.jpeg" />


	
    	</script>
	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	
	<script src="{{STATIC}}js/template.js"></script>
	<script src="{{STATIC}}js/js-image-slider.js"></script>
	


</body>
</head>
</html>
